# Maven
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Build
build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Spring Boot config
application.properties
